
@{
    ViewData["Title"] = "Public API Table";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@*This page does not contain any back end code, only front end which accesses a public API.*@

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="ApiTable"></div>

<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script src="@Url.Content("~/js/ApiTable.jsx")"></script>

